
#nav2{
    width: 40%;
}

#nav2 h4{ 
    transition: 0.2s;
    transform-origin:bottom;
    cursor: pointer;
}
#nav2 h4:hover {
    transform: scale(1.3) ;
    text-shadow: 2px 2px 10px #06b6d4;
}

#tab {
    border-left: 2px solid #06b6d4;
    border-bottom: 2px solid #06b6d4;
    border-top: 2px solid #06b6d4;
    border-right: none;
}


/*  Responsive  */
@media(max-width:900px)
{
    #navhead{
        font-size:30px
    }

    #addhead,#Edithead{
        font-size:20px
    }
    
    #ConInputs ,#Editinputs  {
        font-size:20px
    }
}

@media(max-width:642px)
{
    #row{
        flex-direction:column;
        justify-content:center;
        align-items:start;
        height:85%
    }
    #row #col1{
        width:100%;
        height:35%;
        display:flex;
        gap:10px;
    }
    
    #addhead ,#Edithead {
        font-size: 20px;
        padding: 10px 40px;
    }

    #ConInputs {
        font-size: 20px;
        width:100%;
        height:100px;
        padding:0 0;
        flex-direction :row;
        justify-content:space-between;
        align-items:center
    }
    #ConInputs input {
        font-size:15px;
        font-weight:500;
        height:90%;
        width:62%;
        border-radius:10px;
    }
    #ConInputs label {
        font-weight:500;
    }
    #addbtn,#sumbit,#back{
        padding:8px 20px;
    }

    #row #col2 {
        gap: 20px;
        width: 100%;
        height: 68%;
        justify-content:start
    }


    #row #col2 #tab{
        width:92%;
        height: 80%;
    }

    #conthead{
        margin-top:10px;
        padding:4px 20px;
    }

    #row #col2 #tab {
        font-size:14px
    }

    #Ecol2{
        width:100%; 
        justify-content:center;
    }

    #Edithead{
        background-color:black;
        color:cyan;
        border-radius:10px;
        box-shadow :4px 4px 10px black;
        margin-bottom:10px;
    }

    #Editinputs{
        font-size: 20px;
         width: 100%;
        height: 100px;
            padding: 0 10px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center
    }
        #Editinputs input {
            font-size: 15px;
            font-weight: 500;
            height: 38%;
            width: 62%;
            border-radius: 10px;
        }
    
        #Editinputs label {
            font-size:20px;
            font-weight: 500;
        }

    #Ecol2 #Etab{
        gap:0
    }   

}

